3PL/3PL_CustomerOrder_in.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container">
    <xs:annotation>
      <xs:documentation>Root element of a message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DataGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OperationTag" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Type of operation - modify, insert, delete
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ObjectType" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Type of object - CustomerOrder
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Object">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerOrder">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="xs:unsignedLong">
                            <xs:annotation>
                              <xs:documentation>Customer order ID in Partner ERP</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ID_Axapta" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Customer order ID in 3PL ERP System</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DateTime" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>Customer order's creation date and time</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Date_sales" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>
                                Customer orders sales date
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Date_Acceptance" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>Customer order's date and time of accept in 3pl ERP</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Num_Customer_Order" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>
                                Customer order's ID in customer ERP
                              </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ParentOrder" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Parent order ID </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DvlMode" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Delivery mode in 3PL ERP, available vaues "самовывоз" - Pickup by customer, "доставка" - Delivery by 3PL</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="TypeOrder">
                            <xs:annotation>
                              <xs:documentation>Customer order type in 3pl ERP</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Customer order type ID in 3pl ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Name" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Customer order type name in 3pl ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CHAIN">
                              <xs:annotation>
                                <xs:documentation>Sales chain in 3PL ERP</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="ID" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Sales chain ID in 3PL ERP</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="Name" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Sales chain Name in 3PL ERP</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          <xs:element name="VAT_Included" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation>Is VAT included in price</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Sticking" type="xs:boolean" >
                            <xs:annotation>
                              <xs:documentation>Does the CO need to be stickered</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Counterparties">
                            <xs:annotation>
                              <xs:documentation>Customer information</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Customer ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Name" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Customer Name in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ShortName" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Customer Shortened Name in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="INN" type="xs:unsignedLong">
                                  <xs:annotation>
                                    <xs:documentation>Customer Tax Payer ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="KPP" type="xs:unsignedInt">
                                  <xs:annotation>
                                    <xs:documentation>Customer Tax Payer Reason Code in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Contract">
                            <xs:annotation>
                              <xs:documentation>Contract information</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="RContractAccount" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Contract ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>

                                <xs:element name="RContractNumber" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Contract number in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="RSubContractAccount" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Sub contract ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Consignee">
                            <xs:annotation>
                              <xs:documentation>Consignee information</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Consignee ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Name" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Consignee Name in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ShortName" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Consignee Shortened Name in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="INN" type="xs:unsignedLong">
                                  <xs:annotation>
                                    <xs:documentation>Consignee Tax Payer ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="KPP" type="xs:unsignedInt">
                                  <xs:annotation>
                                    <xs:documentation>Consignee Tax Payer Reason Code in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Address">
                            <xs:annotation>
                              <xs:documentation>Delivery address information</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="GRD_AddressRegNum" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Delivery address ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Address" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Delivery address</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CLADRUsage" type="xs:unsignedByte">
                                  <xs:annotation>
                                    <xs:documentation>Use Official Russian Address Classifier, 1- yes, 0 - no</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="AddressName">
                                  <xs:annotation>
                                    <xs:documentation>Delivery address name</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CLADR">
                                  <xs:annotation>
                                  <xs:documentation>if CLADRUsage is 1, this block contains information of address components according to CLADR http://kladr-rf.ru </xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CountryRegion">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="CountryRegionId" type="xs:string" />
                                            <xs:element name="CountryRegionName" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="ZipCode">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ZipCodeId" type="xs:unsignedInt" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="State">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="StateId" />
                                            <xs:element name="StateName" />
                                            <xs:element name="StateTypeId" />
                                            <xs:element name="StateTypeName" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="County">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="CountyId" />
                                            <xs:element name="CountyName" />
                                            <xs:element name="CountyTypeId" />
                                            <xs:element name="CountyTypeName" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Town">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="TownId" />
                                            <xs:element name="TownName" />
                                            <xs:element name="TownTypeId" />
                                            <xs:element name="TownTypeName" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Settlement">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="SettlementId" />
                                            <xs:element name="SettlementName" />
                                            <xs:element name="SettlementTypeId" />
                                            <xs:element name="SettlementTypeName" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Street">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="StreetId" />
                                            <xs:element name="StreetName" />
                                            <xs:element name="StreetTypeId" />
                                            <xs:element name="StreetTypeName" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Estate">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="EstateId" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Building">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="BuildingId" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AddressDC">
                            <xs:annotation>
                              <xs:documentation>Address of Distribution Centre</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Status" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Customer Order status. Available value for incoming - Acceptance</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Date_Expedition" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>Expedition date</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="EDI_RelationId" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>EDI relation code from 3PL ERP for EDI Orders</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="UltimateCustomerGLN" type="xs:unsignedLong">
                            <xs:annotation>
                              <xs:documentation>EDI GLN for final delivery point in case of Distribution centre delivery</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Service24ReasonId" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Reason for change terms of delivery from 48 hours to 24</xs:documentation>
                            </xs:annotation>                            
                          </xs:element>
                          <xs:element name="is3PL" type="xs:unsignedByte">
                            <xs:annotation>
                              <xs:documentation>is this order 3PL or ordinary? 1-3PL, 0 - no</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="InternalOrder" type="xs:unsignedByte">
                            <xs:annotation>
                              <xs:documentation>is this order internal? 1-yes, 0 - no</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="WarehouseHead">
                              <xs:annotation>
                                <xs:documentation>Warehouse information</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="ID" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Warehouse ID in 3PL ERP</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="Name" type="xs:string" >
                                    <xs:annotation>
                                      <xs:documentation>Warehouse Name in 3PL ERP</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          <xs:element name="EDICodeByBuyer" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>EDI. Internal ID of supplier in Customer's ERP</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="Goods">
                            <xs:annotation>
                            <xs:documentation>Customer order lines</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Nomenclature">
                                  <xs:annotation>
                                    <xs:documentation>Product information</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Organization" type="xs:string">
                                        <xs:annotation>
                                          <xs:documentation>Product organization</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="Id" type="xs:string">
                                        <xs:annotation>
                                          <xs:documentation>Product id in 3PL ERP</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="Name" type="xs:string" >
                                        <xs:annotation>
                                          <xs:documentation>Product name 3PL ERP</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Quantity" type="xs:decimal" >
                                  <xs:annotation>
                                    <xs:documentation>Ordered quantity</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QuantityAcceptance" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:documentation>Accepted quantity</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QuantityShipped" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:documentation>Shipped quantity</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Price" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:documentation>Product price, RUB.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="VAT_rate" type="xs:unsignedByte">
                                  <xs:annotation>
                                    <xs:documentation>VAT rate, available values - 18, 10</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="GTIN" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>EDI. Product GTIN (barcode)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CustLineNum" type="xs:unsignedByte">
                                  <xs:annotation>
                                    <xs:documentation>Number of line in Customer's order</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ExternaItemId" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Product Id in Customer's ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="OrderedUnitCode" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>EDI. Unit code</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="OrderedUnitPacksize" type="xs:unsignedByte">
                                  <xs:annotation>
                                    <xs:documentation>EDI. Ordered unit packsize</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Warehouse">
                                  <xs:annotation>
                                    <xs:documentation>Additional Warehouse information</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ID" type="xs:string">
                                        <xs:annotation>
                                          <xs:documentation>Warehouse ID in 3PL ERP</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="Name" type="xs:string" >
                                        <xs:annotation>
                                          <xs:documentation>Warehouse Name in 3PL ERP</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Amount" type="xs:decimal">
                            <xs:annotation>
                              <xs:documentation>Total amount</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Comment" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>General comment</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="TransportDescription" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Comments for Transport Department</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="StoreDescription" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Comments for Warehouse Presonnel</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Id_invoice" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Invoice Id in Partner's ERP</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Barcode_Invoice" type="xs:unsignedLong">
                            <xs:annotation>
                              <xs:documentation>Invoice barcode to print</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>