3PL/3PL_PurchOrder_Creation_IN.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container">
    <xs:annotation>
      <xs:documentation>Root element of a message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DataGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OperationTag" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Type of operation - modify, insert, delete
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ObjectType" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Type of object - PurchOrder</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Object">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PurchOrder">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IDPurchOrder" type="xs:unsignedLong">
                            <xs:annotation>
                              <xs:documentation>Purch order id in partner's ERP</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="SupplierName" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Supplier Name</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="SupplierGLN" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Supplier GLN</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DocNumber" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Invoice number</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DocDate" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>Invoice Date</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DeliveryDate" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>Invoice date</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Is3PL" type="xs:unsignedByte">
                            <xs:annotation>
                              <xs:documentation>Is it 3PL PurchOrder, 1- Yes, 0 - No</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Comment" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>General comment</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Warehouse">
                            <xs:annotation>
                              <xs:documentation>Warehouse information</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Warehouse ID in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Name" type="xs:string" >
                                  <xs:annotation>
                                    <xs:documentation>Warehouse Name in 3PL ERP</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FactArrival" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>Date and time of arrival</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="FactPallete" type="xs:unsignedByte">
                            <xs:annotation>
                              <xs:documentation>Fact quantity of palets</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Goods" maxOccurs="unbounded" minOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Purch order lines</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Nomenclature">
                                  <xs:annotation>
                                    <xs:documentation>Product information</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Organization" type="xs:string">
                                        <xs:annotation>
                                          <xs:documentation>Product organization</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="Id" type="xs:string">
                                        <xs:annotation>
                                          <xs:documentation>Product id in 3PL ERP</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="Name" type="xs:string" >
                                        <xs:annotation>
                                          <xs:documentation>Product name 3PL ERP</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Quantity" type="xs:decimal" >
                                  <xs:annotation>
                                    <xs:documentation>Ordered quantity</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Price" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:documentation>Item price</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="CustomsDocNumber" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Customs Declaration number</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="ContryOfGood" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>ISO CODE of Product's origin country</xs:documentation>
                                  </xs:annotation>
                                </xs:element>                               
                                <xs:element name="InvoiceNumber" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Invoice number</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QtyFact" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:documentation>Fact Qantity</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="QtyDamage" type="xs:decimal">
                                  <xs:annotation>
                                    <xs:documentation>Damaged quantity</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Amount" type="xs:decimal">
                            <xs:annotation>
                              <xs:documentation>Total amount of Purch Order</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                        </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>      
</xs:schema>