COTY/COTY_Final_Goods_Receipt_OUT.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container">
    <xs:annotation>
      <xs:documentation>Root element of a message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DataGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OperationTag" type="xs:string">
                <xs:annotation>
                  <xs:documentation>
                    Type of operation - modify, insert, delete
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ObjectType" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Type of object - ConfirmationAssemble_Disassemble, Confirmation of assembly/disassembly operation</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Object">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConfirmationAssemble_Disassemble">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IDAssemble_Disassemble" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Operation ID in 3PL's ERP</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="DateTime" type="xs:dateTime">
                            <xs:annotation>
                              <xs:documentation>Operation datetime in 3PL's ERP</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="OperationKind" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Type of operation. Assemble - assembling of a kit, Disassemble - dissasembing of a kit</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Nomenclature">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Organization" type="xs:string" />
                                <xs:element name="Id" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Quantity" type="xs:decimal" />
                          <xs:element name="Price" type="xs:decimal" />
                          <xs:element name="WarehouseOut">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="WarehouseIn">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Comment" type="xs:string" />
                          <xs:element name="CustomsDocNumber" type="xs:string" />
                          <xs:element name="ContryOfGood" type="xs:string" />
                          <xs:element name="ID_RemakeOrder" type="xs:unsignedLong" />
                          <xs:element name="ID_COTY" type="xs:string" />
                          <xs:element maxOccurs="unbounded" name="Accessory">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Nomenclature">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Organization" type="xs:string" />
                                      <xs:element name="Id" type="xs:string" />
                                      <xs:element name="Name" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Quantity" type="xs:decimal" />
                                <xs:element name="Price" type="xs:decimal" />
                                <xs:element name="CustomsDocNumber" type="xs:string" />
                                <xs:element name="ContryOfGood" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>