COTY/New response.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message" type="xs:NCName"/>
        <xs:element name="Detail" type="xs:NCName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
</xs:schema>
