COTY/new_wsdl_proxy.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
xmlns:s="http://www.w3.org/2001/XMLSchema" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
targetNamespace="http://www.coty.com/Rarus/Axapta/99"  
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  
xmlns:tns="http://www.coty.com/Rarus/Axapta/99">
<wsdl:types>
 <s:schema elementFormDefault="qualified" targetNamespace="http://www.coty.com/Rarus/Axapta/99">
       <s:element name="SendAdaptorXMLMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml_file" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="SendAdaptorXMLMessageResponse">
        <s:complexType>
          <s:sequence>
	    <s:element minOccurs="0" maxOccurs="1" name="return" type="s:string" />
	    <s:element minOccurs="0" maxOccurs="1" name="sourceSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml_file" type="s:string" />
	   </s:sequence>
        </s:complexType>
      </s:element>
	  <s:element name="Status">
        <s:complexType>
          <s:sequence>
	    <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
	    <s:element minOccurs="0" maxOccurs="1" name="Detail" type="s:string" />        
	   </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
</wsdl:types>
<wsdl:message name="SendAdaptorXMLMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendAdaptorXMLMessage" />
  </wsdl:message>
  <wsdl:message name="SendAdaptorXMLMessageSoapOut">
    <wsdl:part name="parameters" element="tns:Status" />
  </wsdl:message>
   <wsdl:portType name="ServiceSoap">
<wsdl:operation name="SendAdaptorXMLMessage">
      <wsdl:input message="tns:SendAdaptorXMLMessageSoapIn" />
      <wsdl:output message="tns:SendAdaptorXMLMessageSoapOut" />
    </wsdl:operation>
	</wsdl:portType>
<wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
   <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendAdaptorXMLMessage">
      <soap:operation soapAction="http://www.coty.com/Rarus/Axapta/99/SendAdaptorXMLMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
<wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://zskpk02.z.loc:19094"/>
    </wsdl:port>    
  </wsdl:service>
</wsdl:definitions>
