ELMA/DeliveryApprovalRequestSample.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="companyId"/>
        <xs:element ref="date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="companyId" type="xs:positiveInteger"/>
  <xs:element name="date" type="xs:date"/>
</xs:schema>
