ELMA/orderResponseSchema.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="СписокЗаказов">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Заказ"/>
      </xs:sequence>
      <xs:attribute name="count" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Заказ">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="СпособДоставки"/>
        <xs:element ref="КодКлиентаКЛНТ"/>
        <xs:element ref="НазваниеКонтрагента"/>
        <xs:element ref="ЗаказНаПродажу"/>
        <xs:element ref="Акцептовано"/>
        <xs:element ref="РазрешенаОтгрузка"/>
        <xs:element ref="КодЗаказаКлиента"/>
        <xs:element ref="ТипЗаказа"/>
        <xs:element ref="Склад"/>
        <xs:element ref="НаименованиеПоставки"/>
        <xs:element ref="АдресПоставки"/>
        <xs:element ref="ПоставкаНазваниеАдреса"/>
        <xs:element ref="АдресПолучателя"/>
        <xs:element ref="ОбъединенныйЗаказ"/>
        <xs:element ref="Накладная"/>
        <xs:element ref="СчетФактура"/>
        <xs:element ref="ОбщиеПримечания"/>
        <xs:element ref="ПримечанияТранспортногоОтдела"/>
        <xs:element ref="ПодразделениеНомер"/>
        <xs:element ref="ПодразделениеОписание"/>
        <xs:element ref="АвторЗаказаПоле1"/>
        <xs:element ref="АвторЗаказаПоле2"/>
        <xs:element ref="ТелефонКонтактногоЛица"/>
        <xs:element ref="СкидкаУПД"/>
        <xs:element ref="СпособОплаты"/>
        <xs:element ref="СуммаНакладной"/>
        <xs:element ref="ДатаОтгрузки"/>
        <xs:element ref="СостояниеЗаказа"/>
        <xs:element ref="Статус"/>
        <xs:element ref="Факторинг"/>
        <xs:element ref="ДатаЧека"/>
        <xs:element ref="НомераЧеков"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="СпособДоставки" type="xs:NCName"/>
  <xs:element name="КодКлиентаКЛНТ" type="xs:NCName"/>
  <xs:element name="НазваниеКонтрагента" type="xs:string"/>
  <xs:element name="ЗаказНаПродажу" type="xs:NCName"/>
  <xs:element name="Акцептовано" type="xs:boolean"/>
  <xs:element name="РазрешенаОтгрузка" type="xs:boolean"/>
  <xs:element name="КодЗаказаКлиента" type="xs:NCName"/>
  <xs:element name="ТипЗаказа" type="xs:NCName"/>
  <xs:element name="Склад" type="xs:NCName"/>
  <xs:element name="НаименованиеПоставки" type="xs:NCName"/>
  <xs:element name="АдресПоставки" type="xs:string"/>
  <xs:element name="ПоставкаНазваниеАдреса" type="xs:NCName"/>
  <xs:element name="АдресПолучателя" type="xs:string"/>
  <xs:element name="ОбъединенныйЗаказ" type="xs:boolean"/>
  <xs:element name="Накладная" type="xs:integer"/>
  <xs:element name="СчетФактура" type="xs:string"/>
  <xs:element name="ОбщиеПримечания" type="xs:NCName"/>
  <xs:element name="ПримечанияТранспортногоОтдела" type="xs:NCName"/>
  <xs:element name="ПодразделениеНомер" type="xs:NCName"/>
  <xs:element name="ПодразделениеОписание" type="xs:string"/>
  <xs:element name="АвторЗаказаПоле1" type="xs:NCName"/>
  <xs:element name="АвторЗаказаПоле2">
    <xs:complexType/>
  </xs:element>
  <xs:element name="ТелефонКонтактногоЛица">
    <xs:complexType/>
  </xs:element>
  <xs:element name="СкидкаУПД" type="xs:boolean"/>
  <xs:element name="СпособОплаты" type="xs:NCName"/>
  <xs:element name="СуммаНакладной" type="xs:integer"/>
  <xs:element name="ДатаОтгрузки" type="xs:date"/>
  <xs:element name="СостояниеЗаказа" type="xs:string"/>
  <xs:element name="Статус" type="xs:NCName"/>
  <xs:element name="Факторинг" type="xs:boolean"/>
  <xs:element name="ДатаЧека" type="xs:date"/>
  <xs:element name="НомераЧеков" type="xs:string"/>
</xs:schema>
