NFK/Gradient securityServiceData Sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="securityServiceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id" maxOccurs="1" minOccurs="1"/>
		<xs:element ref="result" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="comment" maxOccurs="1" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
	
  </xs:element>
  <xs:element name="result" type="xs:boolean"/>
  <xs:element name="comment" type="xs:string"/>
</xs:schema>
