NFK/Gradient quest result Sample.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="questResultData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="id" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="result" maxOccurs="1" minOccurs="1"/ >
		<xs:element ref="comment" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="result" type="resultType"/>
  <xs:element name="comment" type="xs:string"/>
  <xs:simpleType name="resultType">
  <xs:restriction base="xs:string">
  <xs:enumeration value="Заявка одобрена"/>
  <xs:enumeration value="Получен отказ"/>
  </xs:restriction>
  </xs:simpleType>


</xs:schema>
